nav{
	position: fixed;
	top:0;
}
.cards-container {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      justify-content: center;
    }

    .card {
      background: #2E2E2E;
      padding: 30px 50px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
      text-align: center;
      width: 250px;
      transition: transform 0.3s ease;
    }

    .card:hover {
      transform: translateY(-5px);
    }

    .count {
      font-size: 48px;
      color: #DD2D59;
    }

    .label {
      margin-top: 10px;
      font-size: 18px;
      color: #444;
    }

.hero-slider {
      margin-top:60px;
      padding-top:10px ;  
      position: relative;
      height: 100vh;
      overflow: hidden;
    }

    .slides {
      position: relative;
      height: 100%;
    }

    .slide {
      position: absolute;
      top: 0;
      left: 100%;
      background-size: cover;
      background-position: center;
      opacity: 0;
      transition: all 1s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .slide.active {
      left: 0;
      opacity: 1;
    }

    .content {
      text-align: center;
      color: white;
      background: rgba(0, 0, 0, 0.4);
      padding: 20px 40px;
      border-radius: 10px;
    }

    .content h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    .content p {
      font-size: 1.2rem;
    }

    .dots {
      position: absolute;
      bottom: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    .dot {
      width: 12px;
      height: 12px;
      background: white;
      border-radius: 50%;
      opacity: 0.5;
      cursor: pointer;
      transition: 0.3s;
    }

    .dot.active {
      opacity: 1;
      transform: scale(1.3);
    }

